%script{:type => "text/javascript", :src => "/js/jquery.js"}
%link{:href => "/main.css", :rel => "stylesheet", :type => "text/css"}
%table
  %col
  %col
  %col
  %col
  %col
  %thead
    %tr
      %th
      - Story::STATUSES.each do |status|
        %th.status
          = status
%article
  - @stories.each do |story|
    %div
      = story.description
      %div
        Status: 
        = story.status
      %div
        Estimate: 
        = story.points
      %div
        position: 
        = story.position
    %hr
