%script{:type => "text/javascript", :src => "/js/jquery.js"}
%script{:type => "text/javascript", :src => "/js/jquery-ui.js"}
%link{:href => "/main.css", :rel => "stylesheet", :type => "text/css"}
%table
  %col
    %col
      %col
        %col
          %col
            %thead
              %tr
                - Story::STATUSES.each do |status|
                  %th.status= status
  %tr
    - @stories.each_index do |status_index|
      %td
        %ul{:class => 'sortable_stories', :id => "#{Story::STATUSES[status_index]}"}
          - @stories[status_index].each do |story|
            %li{:id => "story_#{story.id}"}
              = story.description
              %div
                Status: 
                = story.status
              %div
                Estimate: 
                = story.points
              %div
                position: 
                = story.position
:javascript
  $(document).ready(function() {
    $('ul.sortable_stories').each(function (stories) {
      $(this).sortable({
        update: function(event, ui) {
          console.log(jQuery.isEmptyObject($(ui.item).next()));
        }
      });
    });
  });
